body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: Arial, sans-serif; 
  background-color: #f0f0f0; 
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  margin: 200px;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  gap: 15px;
}

label {
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #020202;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #262ea0;
  color: rgba(255, 255, 255, 0.959);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0400ee;
}
